<template>
  <div>
    <Devices />
  </div>
</template>

<script>
import Devices from "../components/Devices";

export default {
  name: "Equipments",
  components: {
    Devices
  }
}
</script>

<style scoped>

</style>
